# Terraform
**/.terraform/
**/.terraform.lock.hcl
**/terraform.tfstate
**/terraform.tfstate.backup
**/*.tfplan
**/terraform.tfvars
**/.terraform-version

# tfaction
changed_targets.txt
**/tfplan.json

# aqua
.aqua/
aqua-checksums.json
**/.envrc
